* {
	box-sizing: border-box;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

body *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
	border-radius: 10px;
	padding: 7px;
	outline: none;
	box-shadow: none;
	border: 1px solid silver;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
	padding: 10px;
	box-shadow: 0 4px 2px -2px #edeceb;
}

header .logo {
	font-size: 20px;
}

header .logo a:link,
header .logo a:active,
header .logo a:visited
{
	text-decoration: none;
	color: black;
}

.shopping-cart {
	position: relative;
}

.shopping-cart button {
	border: none;
	background-color: transparent;
	font-size: 20px;
	cursor: pointer;
}

.shopping-cart button:hover {
	color: orange;
}

#cartSize {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: orange;
	padding: 5px;
	border-radius: 100%;
	font-size: 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .title {
	font-size: 25px;
	margin: 35px 0 0;
}

.filterDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffeac7;
	padding: 10px;
}

.searchDiv {
	display: flex;
	align-items: center;
	position: relative;
}

.searchDiv label {
	font-size: 20px;
	margin-right: 7px;
}

.searchDiv input[type=text] {
	min-width: 200px;
}

#clearSearchBtn {
	background-color: transparent;
	color: gray;
	font-size: 20px;
	position: absolute;
	right: 7px;
}

#clearColorSelectBtn {
	background-color: navy;
	color: white;
	padding: 8px 10px;
	outline: none;
	border: none;
	border-radius: 8px;
	font-size: 0.9em;
	cursor: pointer;
}

.searchDiv button {
	margin-left: 6px;
	padding: 7px;
	border-radius: 7px;
	border: none;
	background-color: navy;
	color: white;
	outline: none;
	cursor: pointer;
}

.colorSelection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.colors {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

#selectedColor {
	display: none;
	padding: 5px 10px;
	border-radius: 8px;
	font-size: 1em;
}

#colorPicker {
	margin: 0px 10px;
	display: flex;
	align-items: center;
}

.selectedColorBtn {
	border-color: red !important;
	min-width: 33px !important;
	min-height: 33px !important;
}

.colorBtn {
	min-width: 30px;
	min-height: 30px;
	border-radius: 100%;
	border: 3px solid silver;
	cursor: pointer;
}

.priceRangeSlider {
	max-width: 400px;
}


.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.message {
	margin-top: 40px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 150px;
	margin: 20px 55px;
}

.item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.item-image img {
	max-width: 200px;
	cursor: pointer;
}

.item-name {
	font-weight: bold;
}

.add-to-shopping-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	min-height: 30px;
	min-width: 30px;
	font-size: 20px;
}

.add-to-shopping-cart:hover {
	background-color: orange;
}

#cartContent {
	display: none;
	flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	border: 1px solid gray;
	min-width: 400px;
	min-height: 100px;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

#cartContent .header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

#cartContent .header h1 {
	margin-top: 3px;
	font-size: 20px;
}

#cartContentCloseBtn {
	background-color: transparent;
	border: none;
	padding: 0 7px;
	font-size: 25px;
}

#totalCartPrice {
	font-weight: bold;
	margin-top: 30px;
}

.card-bottom button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 10px;
}
