body {
	height: 100%;
	background-color: #49BFAF;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.card {
	background-color: #FFFBAC;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
	min-height: 450px;
	position: relative;
}

.card:hover {
	background-color: #F2CD5C;
	animation: upAndDown 0.4s ease-in-out;
}

.card .item-image {
	width: 100%;
	max-width: 500px;
}

.card h1 {
	text-align: center;
	font-size: 18px;
}

.areaLessThan200 {
	color: blue;
}

.areaLessThan300AndMoreThan200 {
	color: brown;
}

.areaThan300 {
	color: orange;
}

.new-mark {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 45px;
	width: 45px;
}

.new-mark:hover {
	transform: scale(1.3);
	transition: all .3s ease-in-out;
	border-radius: 16px;
	opacity: 0.7;
}

.rotated {
	animation: rotate 4s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

/*
@keyframes upAndDown {
	from {
		transform: translateY(100px);
	} to {
		transform: translateY(50px);
	}
}
*/

@keyframes upAndDown {
	0% {
		top: 10px;
	} 
	50% {
		top: 0px;
	} 
	100% {
		top: 20px;
	} 
}
