body {
	height: 100%;
	background-color: #49BFAF;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.card {
	background-color: #FFFBAC;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
	min-height: 450px;
	position: relative;
}


.card .item-image {
	width: 100%;
	max-width: 500px;
}

.card h1 {
	text-align: center;
	font-size: 18px;
}

.areaLessThan200 {
	color: blue;
}

.areaLessThan300AndMoreThan200 {
	color: brown;
}

.areaThan300 {
	color: orange;
}

.new-mark {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 45px;
	width: 45px;
}
